  .heading {
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
  }

  .headingDiv {
    background: white;
    border-radius: 20px;
    color: black;
    float: none;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
  }

  .headingDiv2 {
    font-size: 18px;
  }
  
  .result_para_tag-span {
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
  }

  .copyRightFooter {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 195, 255);
    line-height: 3;
    text-align: center;
  }
  canvas{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
    margin-top: 160px;
  }